@import "tailwindcss";

html, body, #root {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-height: 100vh;
  height: 100%;
  scroll-behavior: smooth;

}

* {
  box-sizing: border-box;
}

@theme {
    --font-jarka: "jarka", sans-serif;
  --font-abril: "abril", sans-serif;
  --color-bg-primary: #F4F1EC;
  --color-bg-secondary: #EBE7E1;
  --color-border: #D8D4CE;
  --color-text-primary: #2C2C28;
  --color-text-secondary: #645F59;
  --color-accent: #A46A43;
  --color-text-success: #6EA45C;
  --color-text-warning: #CE4F48;
  --color-hover: #77492A;
}


@font-face {
    font-family: "jarka";
    src: url("../assets/fonts/plusjarka.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "abril";
    src: url("../assets/fonts/abril.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
